{% extends 'main.html' %}
{% block content %}

    <div style="padding-left: 45%; padding-top: 10px; width: 5%">
        <a href="{% url "collegeList" %}"><button class="btn btn-primary">TERMINA</button></a>
    </div>
    <div class="container form-control about form-group" style="text-align: right; height: 350px">
        <span style='font-size:25px;'>&#128151;</span>
        <p>تشکر ازتون ک علاقمند ب حمایت مالی هستین</p>
        <br>
        <span style='font-size:25px;'>&#128170;</span>
        <p>واسه من ب شخصه انگیزه ای میشه برای ادامه این کار ها</p>
        <br>
        <span style='font-size:25px;'>&#128519;</span>
        <p>برای حمایت میتونی مستقیم از درگاه زیر استفاده کنی یا از طریق لینک کافه زیر یه کافه مهمونم کنی</p>
    </div>
    <br><br>
    <div class="container form-control" style="height: 100px">
        <div class="form-group" style="text-align: center; padding-top: 22.5px">
            <a href="https://coffeete.ir/lkbrntgh"><button class="btn btn-dark" style="font-size:24px;"><i class="bi bi-cup-straw"> کافه </i></button></a>
            <a href="#"><button class="btn btn-success" style="font-size:24px; background-color: #128C7E"><i class="bi bi-credit-card"> حمایت مالی </i></button></a>
        </div>
    </div>
    <div class="container form-control about form-group" style="text-align: right; height: 300px">
        <span style='font-size:25px;'>&#128151;</span>
        <p>البته ک همه چی حمایت مالی نیست و میتونی با پیامت بهم انگیزه بدی</p>
        <br>
        <span style='font-size:25px;'>&#128170;</span>
        <p>از طریق لینک زیر میتونی با من ارتباط برقرار کنی</p>
        <br>
        <p style="text-align: center"><a href="{% url "about" %}"><button class="btn btn-danger">ارتباط با من</button></a></p><br>
        <br>
    </div>

{% endblock content %}