<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link rel="stylesheet" type="text/css" href="Id.css">
</head>
<body>
    <div class="main-screen">
        <div class="login-container">
            <form class="login-form">
                <div class="user-input">
                    <label for="number">شماره دانشجویی:</label>
                    <input type="number" class="id-number" id="id-number">
                    <span id="idNumber-massage"></span>
                </div>
                <button class="login-button" id="login-button">ورود</button>
            </form>
        </div>
    </div>
</body>
</html>