{% extends 'main.html' %}
{% block content %}

        {% regroup courses by college as college_list %}
        <label for="college">colleges</label>
        <select id="college">
        {% for college in college_list %}
            <option>{{ college.grouper }}</option>
                {% for course in college.list %}
                    <ul>
                        <li>{{ course.title }}</li>
                        <li>{{ course.code }}</li>
                    </ul>
                {% endfor %}
        {% endfor %}
        </select>

        <p id="details">innerHTML</p>

        <script>
            let detail = document.getElementById('details')

            function showDetails() {
                detail.innerHTML = `{{ course.title }}`
            }
        </script>

{% endblock content %}