<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>term.inator</title>
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
              crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="list.css" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
              rel="stylesheet">
    </head>

    <body>

        {% regroup courses by college as college_list %}
        <div class="container d-flex justify-content-center align-items-center">
            <div class="dropdown">
        {% for college in college_list %}

{#            <select id="choose">#}
                <button class="btn btn-outline-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                    <span>{{ college.grouper }}</span>
                    <i class="fa fa-caret-down"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for course in college.list %}
                    <li class="dropdown-item" >{{ course.title }}</li>
                {% endfor %}
                </ul>
{#            </select>#}

        {% endfor %}
            </div>
            </div>


{#        <label for="colleges">colleges</label>#}
{#        <select id="colleges">#}
{#            <option>choose</option>#}
{#        </select>#}

        <script>
            let detail = document.getElementById('details')

            let url = 'http://127.0.0.1:8000/api/course-list/'

            fetch(url)
            .then((resp) => resp.json())
            .then(function(data){

                let collegeArr = []
                for(let i in data){

                    function showDetails(college){
                        for(let i in data){
                            if(college === data[i].college){
                                detail.innerHTML += `${data[i].title}`
                            }
                        }
                    }

                    collegeArr.push(`<option>${data[i].college}</option>`)

                }

                let uniqueColleges = [...new Set(collegeArr)]
                for(let i in uniqueColleges){
                document.getElementById('colleges').innerHTML += uniqueColleges[i]
                }
            })
        </script>

    </body>
</html>
