<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link rel="stylesheet" type="text/css" href="login.css">
</head>
<body>
    <div class="main-screen">
        <div class="login-container">
          <h1 class="login-title">خوش آمدید.</h1>
                <form class="login-form">
                    <div class="user-input">
                        <label for="email">ایمیل\نام کاربری:</label>
                        <input type="email" class="input-email" id="input-email">
                        <span id="email-massage"></span>
                    </div>
                <div class="user-input">
                        <label for="password">رمز عبور:</label>
                        <input type="password" class="input-password">
                        <span id="password-massage"></span>
                 </div>
                 <button class="login-button" id="login-button">ورود</button>
            </form>
        </div>
        <div class="with-idNumber"><a href="Id.html">ورود با شماره دانشجویی</a>
        </div>
    </div>
</body>
</html>